<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Casa del Sol</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

    <style>
        .login-details-section {
            padding-top: 105px;
            padding-bottom: 75px;
        }

        .register-details-section {
            padding-top: 85px;
            padding-bottom: 75px;
        }

        .login-details-link {
            padding-top: 20px;
            padding-bottom: 3px;
        }

        .room-booking-Login {
            padding: 0 30px 0 40px;
        }

        .room-booking-Login form .check-date-Login {
            position: relative;
            margin-bottom: 15px;
        }

        .room-booking-Login form .check-date-Login label {
            font-size: 14px;
            color: #707079;
            display: block;
            margin-bottom: 10px;
        }

        .room-booking-Login form .check-date-Login input {
            width: 100%;
            height: 50px;
            border: 1px solid #ebebeb;
            border-radius: 2px;
            font-size: 16px;
            color: #19191a;
            font-weight: 500;
            padding-left: 20px;
        }

        .room-booking-Login form button {
            display: block;
            font-size: 14px;
            text-transform: uppercase;
            border: 1px solid #dfa974;
            border-radius: 2px;
            color: #dfa974;
            font-weight: 500;
            background: transparent;
            width: 100%;
            height: 46px;
            margin-top: 30px;
        }

        .about-text-message {
            text-align: center;
            padding: 0 35px;
            color: #ff0000;
        }

    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="menu-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="logo">
                                <a href="@Url.Action("Index","Home")">
                                    <img src="~/img/CasadelSol_Logo.png" width="145" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="nav-menu">
                                <nav class="mainmenu">
                                    <ul>
                                        <li class="active"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                                        <li><a href="@Url.Action("Habitaciones","Home")">Habitaciones</a></li>
                                        <li><a href="@Url.Action("About","Home")">Nosotros</a></li>
                                        <li><a href="@Url.Action("Contact","Home")">Contáctenos</a></li>
                                        @if (Session["Consecutivo"] == null)
                                        {
                                            <li><a href="@Url.Action("IniciarSesion","Home")">Iniciar Sesión</a></li>
                                        }
                                        else
                                        {
                                            if (((byte)Session["Rol"]) == 2)
                                            {
                                                <li><a href="@Url.Action("PerfilUsuario","Home")">Mi Perfil</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="@Url.Action("PerfilAdmin","Admin")">Admin</a></li>
                                            }
                                            <li><a href="@Url.Action("CerrarSesion","Home")">Cerrar Sesión</a></li>
                                        }
                                        <li>
                                            <div class="tn-right">
                                                <a href="@Url.Action("DisponibilidadHabitaciones","Users")" class="bk-btn">Reserve</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

        @RenderBody()

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="~/img/CasadelSol_Logo_Naranja-removebg-preview.png" />
                                </a>
                            </div>
                            <p>¡Su mejor opción para vacacionar!<br /> Visitenos en nuestras redes sociales</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Contáctenos</h6>
                            <ul>
                                <li>(506) 2222-2222</li>
                                <li>info.hotelcasadelsol@gmail.com</li>
                                <li>Guanacaste, Costa Rica</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>Noticias</h6>
                            <p>Reciba nuestras mejores ofertas y promociones exclusivas</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Correo">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="@Url.Action("Contact","Home")">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> | SC-601 Programación Avanzada 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>